{% extends 'main/base.html' %}
{% block content %}

{% for object in object_list %}
<div class="col-3">
    <div class="card mb-4 box-shadow">
        <div class="card-header">
            <h4 class="my-0 font-weight-normal">{{object.name}}</h4>
        </div>
        <div class="card-body">
            {% if user.is_authenticated %}
                <a href="{% url 'main:message_create' object.pk %}" type="button" class="btn btn-lg btn-block btn-light">Добавить сообщение</a>
                <a href="{% url 'main:newsletter_detail' object.pk %}" type="button" class="btn btn-lg btn-block btn-light">Изменить рассылку</a>
                <a href="{% url 'main:newsletter_delete' object.pk %}" type="button" class="btn btn-lg btn-block btn-light">Удалить рассылку</a>
                <a href="{% url 'main:newsletter_detail' object.pk %}" type="button" class="btn btn-lg btn-block btn-light">Подробнее о рассылке</a>
            {% else %}
                <a href="{% url 'main:client_create' object.pk %}" type="button" class="btn btn-lg btn-block btn-light">Подписаться на рассылку</a>
                <a href="{% url 'main:newsletter_detail' object.pk %}" type="button" class="btn btn-lg btn-block btn-light">Подробнее о рассылке</a>
            {% endif %}
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}